:root {
	--ap-dark-red: hsl(355, 100%, 30%);
	--ap-red: rgb(219, 0, 0);
	--ap-grey: rgb(104, 103, 108);
	--ap-dark-grey: rgb(68, 68, 68);
	--ap-science-tech-green: rgb(98, 152, 91);
	--ap-light-grey: #fafafa;
}

html {
	color: var(--ap-dark-grey);
}


body {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

h1,
h2,
h3,
h4 {
	color: var(--ap-red);
}
