span {
	font-size: 2em;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	width: 100%;
}

#app {
	display: flex;
}

body {
	padding: 40px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(24, 24, 24);
}
form {
	margin: 40px;
}

input {
	width: 400px;
	background-color: rgba(24, 24, 24);
	height: 40px;
	color: white;
}

.swatches-picker div {
	width: 600px;
}

svg{
	background-color: transparent;
}
